# Python 기초
## 1-1. Jupyter Notebook 사용법

- Markdown Mode: 스크립트의 설명이나 코드의 설명 등을 작성
- Code Mode: Python Code를 입력하는 상태
- 코드 실행 : [Shift] + [Enter]
- Code mode에서 [ESC] : Command Mode로 변환됨,
-              [Enter]: Code를 입력모드
-              [Y] : Python Code를 입력하는 상태
-              [M] : 주석(Markdown)을 입력하는 상태(파이썬 문법과 무관)
-              [A] : 현재 Cell에서 위로 새로운 셀을 생성
-              [B] : 현재 Cell에서 아래로 새로운 Cell 생성
-              [ X ] : 해당 Cell 삭제(Command mode에서)
-              [Z] : 실행 취소

# 2. 파이썬 기초 문법
## 2-1. 변수의 개념
- 변수 : 데이터를 들고다니는 공간
- 변수를 선언한다 : 특정 데이터를 지정한 이름으로 사용
     - 등로 기호를 기준으로 오른쪽의 값을 왼쪽의 지정된 변수 명으로 선언

In [91]:
data1 = 100
data2 = 51.2

In [3]:
data1 + data2

151.2

## 2-2. 데이터 타입

- 파이썬 데이터 타입: 숫자 / 문자 / 논리형
- 데이터 타입에 따라 연산의 방법/분석의 방법이 달라짐!
- 숫자형 : 정수형(int) / 실수형(float)
- 문자형 : 문자열(string) / 범주형(object)
- 논리형 : 참/거짓 (True/ False // bool-> 첫 글자를 대문자로 사용)

In [7]:
# 주석 (Markdown):파이썬 코드에 영향 없는 / 코드에 대한 설명 따위를 쓰는 기능
data3 = 10.4
type(data3) # type(): 특정 데이터의 타입을 확인

float

In [5]:
data4 = '파이썬'
type(data4)

str

In [6]:
data5 = True
type(data5)

bool

## 2-3. 연산자 (Operator)

- 데이터 타입에 따라 연산의 방법이 달라짐!

In [10]:
# 숫자데이터 사칙연산
#덧셈 연산
data1 + data2

151.2

In [9]:
#뺄셈 연산
data1 - data2

48.8

In [11]:
data1 * 3 # 곱셈

300

In [12]:
data1 / 3 #나눗셈

33.333333333333336

In [13]:
data1 ** 2 #거듭제곱

10000

In [14]:
data1 % 2

0

In [15]:
data1 // 2 #나눗셈 결과의 몫

50

In [17]:
#문자 데이터 연산 (문자 데이터를 사용할 땐, 따옴표 또는 쌍따옴표)
data6 = 'Python 데이터'
data7 = '분석'

In [18]:
data6 + data7 #문자를 이어붙여줌

'Python 데이터분석'

In [19]:
data6 + " " + data7 #공백을 추가해줄 수 있다

'Python 데이터 분석'

In [20]:
data6 * 3

'Python 데이터Python 데이터Python 데이터'

In [21]:
#논리형 연산 (비교 구문)
data7 = 50
data8 = 30

In [24]:
data7 < data8

False

In [26]:
data7 >= data8

True

In [28]:
data7 == data8

False

In [30]:
data7 != data8 # != (not equal)

True

## 2-4. 파이썬 자료 구조

- 하나의 변수에 여러 개의 데이터를 넣어 사용
- List (리스트-대괄호) : 데이터의 순서 O / 중복값 O / 새로운 데이터 추가.삭제.변경 O
- Tuple (튜플 - 소괄호) : 데이터의 순서 O / 중복값 O / 새로운 데이터를 추가.삭제.변경 X
- Set (셋 - 중괄호) : 데이터의 순서 X / 중복값 X / 새로운 데이터 추가.삭제.변경 O
- Dictionary (딕셔너리 - 중괄호 {key:value}) : 키와 값의 쌍/ 새로운 데이터 추가.삭제.변경O/순서는 key기준으로 정렬 - 정형데이터의 기본 요소

In [31]:
# 리스트 구조 사용
data9 = [20,30,50,10,90,30]

In [32]:
type(data9) #type함수는 파이썬의 자료구조나 객체의 형태도 확인 가능

list

In [36]:
# indexing : 리스트 구조 내 특정위치의 데이터를 찾는 것 / 색인
data9[0]

20

In [39]:
data9[-1] #맨 끝 inex의 데이터 호출

30

In [40]:
#슬라이싱
data9[0:3] # 특정 범위 내 데이터를 추출 (0번째 부터, 3번째 전까지)

[20, 30, 50]

In [41]:
data10 = data9[0:3]
data10

[20, 30, 50]

In [50]:
# 데이터를 추가.삭제.변경
data11 = ['국어','수학','과학']

In [51]:
data11.append('영어') # append() : 특정 리스트에 원소를 추가
data11

['국어', '수학', '과학', '영어']

In [52]:
data11.insert(0, '한국사') # insert() : 특정 위치에 데이터를 삽입
data11

['한국사', '국어', '수학', '과학', '영어']

In [53]:
data11.remove('수학')
data11

['한국사', '국어', '과학', '영어']

In [54]:
# 튜플 : 순서 O, 수정 및 삭제 X
data12 = (100,200,300)
type(data12)

tuple

In [55]:
data12[0]

100

In [59]:
data13 = list(data12) # 변수를 선언 시, 이미 선언 된 변수에 덮어씌우지 않음!

In [60]:
data12

(100, 200, 300)

In [61]:
type(data13)

list

In [62]:
# 셋 구조
data14 = {30,30,20,100,10,300,20}
data14 #출력될 때는 중복 제거됨

{10, 20, 30, 100, 300}

In [64]:
type(data14)

set

In [65]:
data15 = {20,30,40,50}
data16 = {40,50,60,70}

In [66]:
# 교집합
data15 & data16

{40, 50}

In [67]:
# 합집합
data15 | data16

{20, 30, 40, 50, 60, 70}

In [68]:
#차집합
data15-data16

{20, 30}

In [71]:
#대상차집합 : 교집한을 제외한 나머지 추출
data15 ^ data16

{20, 30, 60, 70}

In [70]:
# 딕셔너리
data17 = {'이름':'홍길동', '나이':30, '지역':'경기'}
type(data17)

dict

In [72]:
# 딕셔너리 인덱싱
data17['이름']

'홍길동'

In [73]:
data17.keys() #해당 딕셔너리의 키만 확인

dict_keys(['이름', '나이', '지역'])

In [74]:
data17.values() #해당 딕셔너리의 값만 확인

dict_values(['홍길동', 30, '경기'])

In [75]:
data17['성별'] = '남성'

In [76]:
data17

{'이름': '홍길동', '나이': 30, '지역': '경기', '성별': '남성'}

In [77]:
# 두 개의 리스트를 하나의 딕셔너리로 변환
data18 = ['이름','나이','지역']
data19 = ['홍길동', 25, '서울']

In [78]:
dict(zip(data18, data19)) #zip으로 묶어주고, dictionary형태로 변환

{'이름': '홍길동', '나이': 25, '지역': '서울'}

## 2-5. 문자열 처리

In [79]:
#문자열 자료는 따옴표 또는 쌍따옴표 사용
'''파이썬 데이터 분석
통계에서 머신러닝 까지
딥러닝은 추가로'''

'파이썬 데이터 분석\n통계에서 머신러닝 까지\n딥러닝은 추가로'

In [81]:
'오늘 부터 내가 \n 파이썬 전문가'

'오늘 부터 내가 \n 파이썬 전문가'

In [82]:
print('오늘 부터 내가 \n 파이썬 전문가')

오늘 부터 내가
 파이썬 전문가

In [84]:
str1 = "기쁜 소식이오! 삼수채의 고려군이 거란군이 물리쳤소"
# 문장의 길이를 파악 / 자료 구조의 데이터 개수도 확인 (공백을 포함해서)
len(str1)

28

In [85]:
# 인덱싱 및 슬라이싱이 가능
str2 = "네게 그런 사람이 나일 순 없는지 네 곁에 있는 내 친구가 아니라~~"
str2[0]

'네'

In [87]:
str2[0:10]

'네게 그런 사람이 '

In [88]:
# 포멧팅
mbti = 'INFP'
blood_type = "RH+A"

f"안녕하세요. 제 mbti는 {mbti}입니다. 혈액형은 {blood_type}이에요."

'안녕하세요. 제 mbti는 INFP입니다. 혈액형은 RH+A이에요.'

In [89]:
# 딕셔너리를 활용한 포멧팅
data19 = {'이름':'신혜림', '나이':24, 'MBTI':'INFP'}
f"안녕하세요. 저는 강의를 듣고 있는 {data19['이름']}입니다. 나이는{data19['나이']}"

'안녕하세요. 저는 강의를 듣고 있는 신혜림입니다. 나이는24'

In [90]:
# 특정 문자의 개수를 세야하는 경우
str3 = 'Show me the money'
str3.count('e')

3

In [93]:
str3.count('the')

1

In [94]:
# 특정 문자의 위치를 찾는 경우
str3.find('m')

5

In [96]:
# 문자를 특정 단어로 나누는 경우
str4 = "2024-01-16"
str4.split('-')

['2024', '01', '16']

In [97]:
str4.split('-')[0] # - 기호를 이용해 데이터를 나누고, 나눈 결과(리스트)의 첫 번째 값 확인

'2024'

# 3. 파이썬 함수

- 특정 동작이나 기능을 수행하는 코드의 집합체

In [99]:
data11.append('사회')
data11

['한국사', '국어', '과학', '영어', '사회']

In [100]:
# 함수를 사용자가 직접 만들어서 사용
def func1(x): #def 함수명(매개변수):
              #들여쓰기 : 띄어쓰기 또는 들여쓰기를 통해 문장의 종속관계를 정의
    return x+200 # return 함수에서 처리된 결과

In [102]:
func1(150)

350